results/*
**/__pycache__

data/
.idea/
dl_dataset/
results/
pretrained_models/*.ckpt
pretrained_models/my_train_data/
pretrained_models/my_gesture_data_v1/
pretrained_models/my_gesture_data_v2_mirror/
/*.bvh
*.log